<!DOCTYPE html>
<html>

<head>
    {{>meta}}
</head>

<body>

    <section class="hero is-fullheight is-medium is-dark is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{title}}
                </h1>
                <div class="tabs is-small">
                    <ul>
                        <li class="is-active">
                            <a target="_blank" href="http://www.metalsmith.io/">metalsmith</a>
                        </li>
                        <li>
                            <a target="_blank" href="http://gulpjs.com/">gulpjs</a>
                        </li>
                        <li>
                            <a target="_blank" href="http://bulma.io/">bulma</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://github.com/devvtms/sssg.git">sssg</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</body>

</html>